{% extends "base.html" %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
            </div>
            <!-- <div class="col-12">
                <a href="">Home</a>
                <a href="">About Us</a>
            </div> -->
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Food Start -->
<!-- <div class="food mt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-burger"></i>
                    <h2>Burgers</h2>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit non vulputa. Aliquam metus tortor auctor quis sem. 
                    </p>
                    <a href="">View Menu</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-snack"></i>
                    <h2>Snacks</h2>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit non vulputa. Aliquam metus tortor auctor quis sem. 
                    </p>
                    <a href="">View Menu</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-cocktail"></i>
                    <h2>Beverages</h2>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit non vulputa. Aliquam metus tortor auctor quis sem. 
                    </p>
                    <a href="">View Menu</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Food End -->



<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="/static/img/about.jpg" alt="Image">
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header">
                        <p>About Us</p>
                        <h2>Cooking Is Passion</h2>
                    </div>
                    <div class="about-text">
                        <p>
                            Founded with love for flavors and a vision for transforming the way you enjoy meals, HaveliFLAVOURS
                            is more than just a food delivery platform. It's celebration of diverse cuisines,fresh ingredients, and 
                            the joy of sharing exceptional meals with you.
                        </p>
                        <p>
                            We believe in the power of quality ingredients. That's why we meticulously source the finest meats,
                            and the most flavourful spices. Explore the world flavour with our diverse menu inspired by global
                            and local cuisines.
                        </p>
                        <p>
                            Our userfriendly platform and intuitive design make it easy for you to explore our menu, customize
                            your orders, and enjoy the convenience of doorstep delivery.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Video Modal Start-->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>        
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- Video Modal End -->
{% endblock %}